* {
  font-family: 'Work Sans', sans-serif;
}

li {
  list-style-type: none;
}

top-nav {
  height: 10%;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fdfdfd !important;
  overflow-x: hidden;
  border-bottom: 1px solid rgba(185, 184, 184, 0.548);
  z-index: 1; /* Stay on top */

  }

.top {
  top: 10%;
  height: 10%; /* Full-height: remove this if you want "auto" height */
  width: 100%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  background-color: #fdfdfd; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */

}

main {
  overflow-x: hidden;
  margin: 0 auto;
  margin-top: 10%;
  padding: 10px;
  text-align: center;
}

main form {
  overflow-x: hidden;
  color: #202020;
  margin: 0 auto;
  margin-top: 10%;
  padding: 10px;
  width: 50%;
}

main form input {
  border-radius: 3px;
  padding: 13px;
  margin: 0 auto;
  margin-top: 3%;;
  font-size: 14px;
  border: solid .5px rgba(192, 192, 192, 0.575);
  width: 25%; /* adjust as needed (as long as it doesn't break the signup.signup) */
  display: block;
  box-sizing: border-box;
}

main button {
  margin: 0 auto;
  border-radius: 70px;
  box-shadow: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 8px 18px;
  text-align: center;
  white-space: nowrap;
  display: block;
}
